body{
  text-align: center;
}
body>div{
  text-align: left;
  width: 49%;
  height:300px;
  overflow: hidden;
  border: 1px solid green;
  display: inline-block;
  margin: 0 auto;

  &:hover{
    overflow: auto;
  }
}
body>div:nth-child(2n){
  margin-left: 5px;
}
#links{
  a{
    margin-right: 10px;
  }
}
#template_test{
  width: 900px;
  height:900px;
  border: 1px solid red;
}
#first{
  background-color: green;
  color: white;

  button{
    background-color: darkgray;
    color: black;
  }


  .enter {
    opacity: 0.01;
  }

  .enter.enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .leave {
    opacity: 1;
  }

  .leave.leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .appear {
    opacity: 0.01;
  }

  .appear.appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}