body{
  text-align: center;
}
body>div{
  text-align: left;
  width: 49%;
  height:300px;
  overflow: hidden;
  border: 1px solid green;
  display: inline-block;
  margin: 0 auto;

  &:hover{
    overflow: auto;
  }
}
body>div:nth-child(2n){
  margin-left: 5px;
}
#links{
  a{
    margin-right: 10px;
  }
}
#template_test{
  width: 900px;
  height:900px;
  border: 1px solid red;
}
#first{

}
#template_test2{
  position: relative;
  .candrag{
    width: 100px;
    height: 100px;
    background: green;
    position: absolute;
    left: 0;
    top:0;
    cursor: pointer;
  }
}
#dragdiv{
  width: 200px;
  height:200px;
  overflow: auto;
  background-color: yellow;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;

  &:hover{
    background-color: red;
    transition: all 1s ease;
  }
}