//Created by Anchao on 2015/10/21.


html
    head
        link
    body
        div#container
            div.row1
                div#div1.icon
                    |
            .row2
            .row3